<footer class="section-footer">
    <div class="container-footer">
        <div class="footer-logo-contacts">
            <div class="footer-logo-header">
                <a href="#" class="container-svg-logo">
                    <svg class="svg-logo-grill">
                        <use href="./img/icons.svg#icon-grill-mob"></use>
                    </svg>
                    <svg class="svg-logo-text">
                        <use href="./img/icons.svg#icon-green-harvest-mob"></use>
                    </svg>
                </a>
                <p class="footer-paragraf">
                    Whether you're looking for a healthy snack or a thoughtful gift, our fruit baskets are the perfect
                    choice.
                </p>
            </div>
            <div class="footer-contacts">
                <ul class="footer-contacts-list">
                    <li><a class="footer-contacts-item" href="#section-how-it-works">how it works</a></li>
                    <li><a class="footer-contacts-item" href="#vegetables-section">vegetables</a></li>
                    <li><a class="footer-contacts-item" href="#section-reviews">reviews</a></li>
                </ul>
                <div class="footer-address">
                    <a href="tel:+380684439426">+380 (68) 443-94-26</a></li>
                    <p class="footer-address-prgf">1678 S. Pioneer Road Salt <br> Lake City UT 84104</p>
                </div>
            </div>
        </div>
        <div class="container-footer-policy">
            <ul class="footer-policy">
                <li class="footer-policy-item">
                    <a href="" target="_blank" rel="noopener">Privacy Policy</a>
                </li>
                <li class="footer-policy-item">
                    <p class="footer-slash">/</p>
                </li>
                <li class="footer-policy-item">
                    <a href="" target="_blank" rel="noopener">Cookie settings</a>
                </li>
            </ul>
            <p class="footer-rights">©Green Harvest 2024</p>
        </div>
    </div>
</footer>