<section class="vegetables-section" id="vegetables-section">

    <div class="container-vegetables">
        <div class="veg-section-header">
            <h2 class="vegetables-title">organic
                <span class="title-transform-color">vegetables</span>
            </h2>
            <p class="vegetables-paragraf">Our organic vegetables are hand-picked from local farms and delivered
                straight to
                your doorstep,
                ensuring that you get the freshest and most nutritious produce possible.</p>
        </div>
        <ul class="vegetables-list">
            <li class="vegetables-item">
                <div class="vegetables-cont-text">
                    <h3 class="vegetables-subtitle">eggplant</h3>
                    <p class="vegetables-item-text">60 uah / kg</p>
                </div>
                <div class="vegetables-list-img-wrapper">
                    <picture>
                        <source
                            srcset="./img/images-vegetables/eggplant.jpg 1x, ./img/images-vegetables/eggplant@2x.jpg 2x">
                        <img class="vegetables-images" src="./img/images-vegetables/eggplant.jpg" alt="eggplant">
                    </picture>
                </div>
            </li>
            <li class="vegetables-item">
                <div class="vegetables-cont-text">
                    <h3 class="vegetables-subtitle">leek</h3>
                    <p class="vegetables-item-text">50 uah / kg</p>
                </div>
                <div class="vegetables-list-img-wrapper">
                    <picture>
                        <source srcset="./img/images-vegetables/leek.jpg 1x, ./img/images-vegetables/leek@2x.jpg 2x">
                        <img class="vegetables-images" src="./img/images-vegetables/leek.jpg 1x" alt="leek">
                    </picture>
                </div>
            </li>
            <li class="vegetables-item">
                <div class="vegetables-cont-text">
                    <h3 class="vegetables-subtitle">mushrooms</h3>
                    <p class="vegetables-item-text">40 uah / kg</p>
                </div>
                <div class="vegetables-list-img-wrapper">
                    <picture>
                        <source
                            srcset="./img/images-vegetables/mushrooms.jpg 1x, ./img/images-vegetables/mushrooms@2x.jpg 2x">
                        <img class="vegetables-images" src="./img/images-vegetables/mushrooms.jpg" alt="mushrooms">
                    </picture>
                </div>
            </li>
            <li class="vegetables-item">
                <div class="vegetables-cont-text">
                    <h3 class="vegetables-subtitle">corn</h3>
                    <p class="vegetables-item-text">60 uah / kg</p>
                </div>
                <div class="vegetables-list-img-wrapper">
                    <picture>
                        <source srcset="./img/images-vegetables/corn.jpg 1x, ./img/images-vegetables/corn@2x.jpg 2x">
                        <img class="vegetables-images" src="./img/images-vegetables/corn.jpg" alt="corn">
                    </picture>
                </div>
            </li>
            <li class="vegetables-item">
                <div class="vegetables-cont-text">
                    <h3 class="vegetables-subtitle">sweet potatoes</h3>
                    <p class="vegetables-item-text">50 uah / kg</p>
                </div>
                <div class="vegetables-list-img-wrapper">
                    <picture>
                        <source
                            srcset="./img/images-vegetables/sweet-potato.jpg 1x, ./img/images-vegetables/sweet-potato@2x.jpg 2x">
                        <img class="vegetables-images" src="./img/images-vegetables/sweet-potato.jpg" alt="potato">
                    </picture>
                </div>
            </li>
            <li class="vegetables-item">
                <div class="vegetables-cont-text">
                    <h3 class="vegetables-subtitle">carrot</h3>
                    <p class="vegetables-item-text">40 uah / kg</p>
                </div>
                <div class="vegetables-list-img-wrapper">
                    <picture>
                        <source
                            srcset="./img/images-vegetables/carrot.jpg 1x, ./img/images-vegetables/carrot@2x.jpg 2x">
                        <img class="vegetables-images" src="./img/images-vegetables/carrot.jpg" alt="carrot">
                    </picture>
                </div>
            </li>
        </ul>
    </div>
</section>