<section class="vegetables-section">

    <div class="container-vegetables">
        <div class="veg-section-header">
            <h2 class="vegetables-title">organic
                <span class="title-transform-color">vegetables</span>
            </h2>

            <p class="vegetables-paragraf">Our organic vegetables are hand-picked from local farms and delivered
                straight to
                your doorstep,
                ensuring that you get the freshest and most nutritious produce possible.</p>
        </div>
        <ul class="vegetables-list">
            <li class="vegetables-item">
                <div class="vegetables-cont-text">
                    <h3 class="vegetables-subtitle">eggplant</h3>
                    <p class="vegetables-item-text">60 uah / kg</p>
                </div>
                <div class="vegetables-list-img-wrapper">
                    <picture>
                        <source"
                            srcset="./img/images-vegetables/carrotEggplantDecktop1x.jpg, ./img/images-vegetables/carrotEggplantDecktop2x.jpg"
                            media="(min-width: 1280px)">
                            <source
                                srcset="./img/images-vegetables/carrotEggplantTablet1x.jpg, ./img/images-vegetables/carrotEggplantTablet2x.jpg"
                                media=" (min-width: 768px)">
                            <source
                                srcset="./img/images-vegetables/eggplant-mob.jpg 1x, ./img/images-vegetables/eggplant-mob@2x.jpg 2x">
                            <img class="vegetables-imeges" src="./img/images-vegetables/eggplant-mob.jpg"
                                alt="eggplant">

                    </picture>
                </div>
            </li>
            <li class="vegetables-item">
                <div class="vegetables-cont-text">
                    <h3 class="vegetables-subtitle">leek</h3>
                    <p class="vegetables-item-text">50 uah / kg</p>
                </div>
                <div class="vegetables-list-img-wrapper">
                    <picture>
                        <source
                            srcset="./img/images-vegetables/carrotLeekDecktop1x.jpg, ./img/images-vegetables/carrotLeekDecktop2x.jpg"
                            media="(min-width: 1280px)">
                        <source
                            srcset="./img/images-vegetables/carrotLeekTablet1x.jpg, ./img/images-vegetables/carrotLeekTablet2x.jpg"
                            media="(min-width: 768px)">
                        <source
                            srcset="./img/images-vegetables/leek-mob.jpg 1x, ./img/images-vegetables/leek-mob@2x.jpg 2x">
                        <img class="vegetables-imeges" src="./img/images-vegetables/leek-mob.jpg 1x" alt="leek">
                    </picture>
                </div>
            </li>
            <li class="vegetables-item">
                <div class="vegetables-cont-text">
                    <h3 class="vegetables-subtitle">mushrooms</h3>
                    <p class="vegetables-item-text">40 uah / kg</p>
                </div>
                <div class="vegetables-list-img-wrapper">
                    <picture>
                        <source"
                            srcset="./img/images-vegetables/carrotMushroomsDecktop1x.jpg, ./img/images-vegetables/carrotMushroomsDecktop2x.jpg"
                            media="(min-width: 1280px)">
                            <source
                                srcset="./img/images-vegetables/carrotMuschroomsTablet1x.jpg, ./img/images-vegetables/carrotMuschroomsTablet2x.jpg"
                                media="(min-width: 768px)">
                            <source
                                srcset="./img/images-vegetables/mushrooms-mob.jpg 1x, ./img/images-vegetables/mushrooms-mob@2x.jpg 2x">
                            <img class="vegetables-imeges" src="./img/images-vegetables/mushrooms-mob.jpg"
                                alt="mushrooms">
                    </picture>
                </div>
            </li>
            <li class="vegetables-item">
                <div class="vegetables-cont-text">
                    <h3 class="vegetables-subtitle">corn</h3>
                    <p class="vegetables-item-text">60 uah / kg</p>
                </div>
                <div class="vegetables-list-img-wrapper">
                    <picture>
                        <source
                            srcset="./img/images-vegetables/carrotCornDecktop1x.jpg, ./img/images-vegetables/carrotCornDecktop2x.jpg"
                            media="(min-width: 1280px)">
                        <source
                            srcset="./img/images-vegetables/carrotCornTablet1x.jpg, ./img/images-vegetables/carrotCornTablet2x.jpg"
                            media="(min-width: 768px)">
                        <source
                            srcset="./img/images-vegetables/corn-mob.jpg 1x, ./img/images-vegetables/corn-mob@2x.jpg 2x">
                        <img class="vegetables-imeges" src="./img/images-vegetables/corn-mob.jpg" alt="corn">
                    </picture>
                </div>
            </li>
            <li class="vegetables-item">
                <div class="vegetables-cont-text">
                    <h3 class="vegetables-subtitle">sweet potatoes</h3>
                    <p class="vegetables-item-text">50 uah / kg</p>
                </div>
                <div class="vegetables-list-img-wrapper">
                    <picture>
                        <source
                            srcset="./img/images-vegetables/carrotPotatoDecktop1x.jpg, ./img/images-vegetables/carrotPotatoDecktop2x.jpg"
                            media="(min-width: 1280px)">
                        <source
                            srcset="./img/images-vegetables/carrotPotatoTablet1x.jpg, ./img/images-vegetables/carrotPotatoTablet2x.jpg"
                            media="(min-width: 768px)">
                        <source
                            srcset="./img/images-vegetables/sweet-potato-mob.jpg 1x, ./img/images-vegetables/sweet-potato-mob@2x.jpg 2x">
                        <img class="vegetables-imeges" src="./img/images-vegetables/sweet-potato-mob.jpg" alt="potato">

                    </picture>
                </div>
            </li>
            <li class="vegetables-item">
                <div class="vegetables-cont-text">
                    <h3 class="vegetables-subtitle">carrot</h3>
                    <p class="vegetables-item-text">40 uah / kg</p>
                </div>
                <div class="vegetables-list-img-wrapper">
                    <picture>
                        <source
                            srcset="./img/images-vegetables/carrotCarrotDecktop1x.jpg, ./img/images-vegetables/carrotCarrotDecktop2x.jpg"
                            media="(min-width: 1280px)">
                        <source
                            srcset="./img/images-vegetables/carrotCarrotTablet1x.jpg, ./img/images-vegetables/carrotCarrotTablet2x.jpg"
                            media="(min-width: 768px)">
                        <source
                            srcset="./img/images-vegetables/carrot-mob.jpg 1x, ./img/images-vegetables/carrot-mob@2x.jpg 2x">
                        <img class="vegetables-imeges" src="./img/images-vegetables/carrot-mob.jpg" alt="carrot">

                    </picture>
                </div>
            </li>
        </ul>
    </div>
</section>