body {
    font-family: "Inter Tight", sans-serif;
}

ul,
ol {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    padding: 0 15;
    margin: 0 auto;
    max-width: 375px;
}

svg {
    display: block;
    height: auto
}


button {
    cursor: pointer;
}


/* ================================================= TABLET 👇 ========================================= */
@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

/* ================================================= NOT DESKTOP 👇 ========================================= */



/* ================================================= DESKTOP 👇 ========================================= */
@media screen and (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}